body {
  margin: 0;
  padding: 0;
  background: #e1f4f6;
}

.remember {
  left: 41%;
  top:42%;
  position: absolute;
  text-align: center;
}
.remember h1{
  color:rgb(21, 57, 108);
  font-family: Arial, Helvetica, sans-serif;
}
.remember textarea{
  color:rgb(21, 57, 108);
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  border: 2px dotted rgb(21, 57, 108);

}